@font-face {
	font-family: "Concert One";
	src: url("./assets/fonts/Concert_One/ConcertOne-Regular.ttf");
}

@font-face {
	font-family: "Space Mono";
	src: url("./assets/fonts/Space_Mono/SpaceMono-BoldItalic.ttf");
}




.App {
	font-family: "Concert One" !important;
	position: relative;
	min-height: 100vh;

	background: url(./assets/images/bg.jpg) no-repeat center center;
	background-size: cover;
}



.title {
	color: white !important;
}

.title strong{
	font-weight: bolder !important;
}

.vh-75 {
	height: 80vh;
}

.padding-section {
	padding-top: 10vh;
}

.Header {
	position: absolute !important;
	z-index: 1;
}
.search-header {
	position: absolute;
	top: 0;
	height: 85vh;
	width: 100%;
	background: url(./assets/images/bg.jpg);
	background-repeat: no-repeat;

	background-position: bottom;
	background-size: cover;
}

.search-body {
	background: rgb(245, 245, 245);
	position: absolute;
	width: 100%;
	min-height: 100vh;
}

.search-section {
	padding-top: 25vh;
}
.adsbox {
	display: none;
}

/* CarDetails */

.detail-img{
	border-top-left-radius: .625rem;
}

/* CalculationItem */

.calculation-item[data-selected = "true"]{
	background-color: lightgreen;
}

/* CSS Transition group */

.fade-enter {
	opacity: 0.01;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	-webkit-transition: 300ms ease-in;
	transition: 300ms ease-in;
}

.fade-exit {
	opacity: 1;
	-webkit-transition: 300ms ease-in;
	transition: 300ms ease-in;
}

.fade-exit.fade-exit-active {
	opacity: 0.01;
	-webkit-transition: 300ms ease-in;
	transition: 300ms ease-in;
}

div.transition-group {
	position: relative;
}
section.route-section {
	position: absolute;
	width: 100%;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.main-container {
	opacity: 0;

	-webkit-animation: fade 1s normal forwards;
	animation: fade 1s normal forwards;
}

.link-style {
	text-decoration: none !important;
	color: inherit;
}

.link-style:hover {
	text-decoration: none !important;
	color: inherit;
}

/* Search */

.car-header {
	padding: 0.2rem;
}
.car-header span {
	font-size: 0.65rem;
	font-family: "Concert One";
	color: black;
}
.car-header p {
	color: rgb(88, 88, 88);
}


/* Slide animation */

@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 767px) { 
	.detail-img{
		border-top-left-radius:  .625rem;
		border-top-right-radius:  .625rem;
	}
 }
