@font-face {
	font-family: "Concert One";
	src: url("./assets/fonts/Concert_One/ConcertOne-Regular.ttf");
}

@font-face {
	font-family: "Space Mono";
	src: url("./assets/fonts/Space_Mono/SpaceMono-BoldItalic.ttf");
}

@font-face {
	font-family: "Work Sans";
	src: url("./assets/fonts/Work_Sans/WorkSans-Bold.ttf");
}


body{
	background: url(./assets/images/bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	overflow-x: hidden;
}


.App {
	font-family: "Poppins" !important;
	min-height: 100vh;
	height: 100%;

}

.title {
	color: white !important;
}

.subtitle {
	color: white;
}

.title strong {
	font-weight: bolder !important;
}


.padding-section {
	padding-top: 11vh;
}

.adsbox {
	display: none;
}

/* Apex Chart Style
==================================================*/

.apexcharts-menu-item{
    text-align: center;
}

.bar-chart * {
    font-weight: 600;
}

.pie-chart * {
	font-weight: 600;
}

.exportCSV{
	display: none;
}

/* Compare
==================================================*/

.chart-container{
	height: 80vh;
}

@media (min-width: 992px) {

	.calculations-list{
		border-left: 1px solid#e9ecef !important
	}
	
}
@media (max-width: 991px) {
	.chart-container{
		height: 100vh;
	}

}


/* MyCalculations
==================================================*/

.calculation-header{
	font-size: 0.9rem;
}

.calculation-tco{
	font-size: 1.3rem;
	margin:0;
}

/* MyCalculations
==================================================*/

.my-calculation-costs h6{
		font-size: 0.9rem;
		font-weight: 700;
}


.my-calculation-costs p{
	font-size: 0.9rem;
	
}


/* CarDetails
==================================================*/

.tooltip{
	font-size: 0.8rem !important;
	font-weight: 100;
	padding: 5px 10px 5px 10px !important;
	max-width: 200px !important;
}


.car-details-bonus{
	background-color: greenyellow !important;
	font-weight: 700;
	color: darkgreen;
}

.car-details-bonus h6{
	font-weight: 700;
}

.car-details-cost{
	font-size: 1.1rem;
}


.car-details-malus{
	background-color: #FC3232 !important;
	font-weight: 700;
	color: rgb(243, 241, 237);
}

.car-details-malus h6{
	font-weight: 700;
	color:white;
}

.tco-variables{
	border-bottom-right-radius: 0.625rem;
}

.detail-img {
	border-top-left-radius: 0.625rem;
}

.bonus-icon{
	width: 20%;
	margin-left: 6px;
}

.car-details {
	padding-bottom: 5vh;
}

.car-details h6 {
	margin: 0;
	font-size: 0.9rem;
	font-weight: 600;
}

.calculation-input{
	padding: 10px 10px 0px 10px !important;
}

.calculation-input h6{
	font-size: 0.75rem;
	padding-left: 2px;
}

.calculation-input h6 span {
	font-size: 0.65rem !important;
}

/* Toast
==================================================*/

.toast-style {
	font-family: "Poppins" !important;
	font-weight: 500;
	font-size: 0.9rem;
}

/* CalculationItem
==================================================*/

.calculation-item[data-selected="true"] {
	background-color: greenyellow;
}

.expand-calculation-icon[data-collapse="true"] {
	transition: all 0.35s;
	transform: rotate(0deg);
}

.expand-calculation-icon[data-collapse="false"] {
	transition: all 0.35s;
	transform: rotate(-90deg);
}

.calculation-item-list li {
	font-size: 0.85rem;
	font-weight: 500;
}

.calculation-item {
	font-weight: 500;
	font-size: 0.95rem;
	cursor: pointer;
}

/* Header
==================================================*/

.header {
	position: absolute !important;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	width: 100%;
	z-index: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	height: auto;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.logo {
	font-weight: bold;
	font-size: 1.2rem;
}

/* Desktop nav  */

.desktop-nav {
	padding: 3px 0 0 0;
	text-align: center;
}

.navlink {
	color: white;
	position: relative;
	text-decoration: none;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.navlink:hover {
	text-decoration: none !important;
	color: rgb(230, 200, 200);
}

/* Mobile nav Design by Geoffrey Crofte */
.mobile-nav {
	position: fixed !important;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: center;
	opacity: 0;
	visibility: hidden;
}

.mobile-nav[data-open="true"] {
	opacity: 1;
	z-index: -1;
	visibility: visible;
}

.mobile-nav::before {
	content: "";
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: -15px;
	background: black;
	height: 100vh;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: skew(-14deg) translateX(-120%);
	transform: skew(-14deg) translateX(-120%);
	-webkit-transition: all 0.275s 0.1s;
	transition: all 0.275s 0.1s;
}

.mobile-nav[data-open="true"]::before {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.mobile-nav ul {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100vh;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transform: translateX(-14%);
	transform: translateX(-14%);
}

.mobile-nav li {
	display: block;
	margin: 0.5rem 0;
	font-size: 1.1rem;
	text-align: right;
}

.mobile-nav[data-open="false"] a {
	opacity: 0;
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
}

.mobile-nav[data-open="true"] a {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.mobile-nav li:nth-child(1) a {
	-webkit-transition: all 475ms 255ms;
	transition: all 475ms 255ms;
}
.mobile-nav li:nth-child(2) a {
	-webkit-transition: all 475ms 335ms;
	transition: all 475ms 335ms;
}
.mobile-nav li:nth-child(3) a {
	-webkit-transition: all 475ms 415ms;
	transition: all 475ms 415ms;
}
.mobile-nav li:nth-child(4) a {
	-webkit-transition: all 475ms 495ms;
	transition: all 475ms 495ms;
}

.mobile-nav ul,
.mobile-nav li {
	list-style: none;
	padding: 0;
	text-align: center;
}
.mobile-nav a {
	display: block;
	padding: 12px 0;
	color: white;
	font-size: 1.4em;
	text-decoration: none;
	font-weight: bold;
}

/* Mobile nav trigger and menu icon */

.menu-trigger {
	background-color: #fff;
	cursor: pointer;
	width: 50px;
}

.menu-trigger .menu-icon {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 22px;
	background-color: white;
	height: 2.5px;
	list-style: none;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.menu-trigger .menu-icon::before,
.menu-trigger .menu-icon:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: white;
	right: 0;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.menu-trigger .menu-icon::before {
	top: -5px;
}

.menu-trigger .menu-icon::after {
	top: 5px;
}

.menu-trigger .menu-icon[data-isclicked="true"] {
	background-color: rgba(255, 255, 255, 0);
}

.menu-trigger .menu-icon.menu-icon[data-isclicked="true"]::before,
.menu-trigger .menu-icon.menu-icon[data-isclicked="true"]::after {
	background-color: white;
}

.menu-trigger .menu-icon.menu-icon[data-isclicked="true"]::before {
	top: 0;
	-webkit-transform: rotateZ(135deg);
	transform: rotateZ(135deg);
}

.menu-trigger .menu-icon.menu-icon[data-isclicked="true"]::after {
	top: 0;
	-webkit-transform: rotateZ(225deg);
	transform: rotateZ(225deg);
}

.menu-trigger {
	width: 100px;
	background-color: transparent;
	height: 30px;
	line-height: 30px;
	right: 10px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.menu-trigger .menu-icon {
	left: auto;
	right: 1.5em;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

@media only screen and (min-width: 768px) {
	.mobile-nav {
		display: none;
	}
	.menu-trigger {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	.desktop-nav {
		display: none !important;
	}
	.menu-trigger {
		display: inline;
	}

	.logo[data-isclicked="true"] {
		z-index: 1;
	}

	.header[data-open="true"] {
		position: fixed !important;
	}
}

/* CSS Transition group */

.fade-enter {
	opacity: 0.01;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	-webkit-transition: 350ms ease-in;
	transition: 350ms ease-in;
}

.fade-exit {
	opacity: 1;
	-webkit-transition: 300ms ease-in;
	transition: 300ms ease-in;
}

.fade-exit.fade-exit-active {
	opacity: 0.01;
	-webkit-transition: 300ms ease-in;
	transition: 300ms ease-in;
}

div.transition-group {
	position: relative;
}
section.route-section {
	position: absolute;
	width: 100%;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.main-container {
	opacity: 0;

	-webkit-animation: fade 1s normal forwards;
	animation: fade 1s normal forwards;
}

.link-style {
	text-decoration: none !important;
	color: inherit;
}

.link-style:hover {
	text-decoration: none !important;
	color: inherit;
}

/* Home
==================================================*/

.home-text{
	height: 80vh;
}

/* Search
==================================================*/

.search-header {
	position: absolute;
	top: 0;
	height: 85vh;
	width: 100%;
	background: url(./assets/images/bg.jpg);
	background-repeat: no-repeat;

	background-position: bottom;
	background-size: cover;
}

.search-body {
	background: rgb(245, 245, 245);
	position: absolute;
	width: 100%;
	min-height: 100vh;
}

.search-section {
	padding-top: 23vh;
}


.search-bar {
	background: white;
	margin-bottom: 10px;
	border-radius: 3px;
}
.search-field {
	width: 100% !important;
	padding: 8px 8px;
}

.icon {
	position: absolute;
	top: 34px;
	right: 0;
	width: 50px;
	z-index: 10;
}

.advanced-filter {
	padding: 10px;
	width: 100%;
}

.input-select {
	margin: 1px;
}

.filter-option__control {
	border-radius: 0 !important;
	border: 0 !important;
	padding: 2px;
	margin: 0;
}

.filter-option__placeholder {
	color: black !important;
	font-weight: 400;
}

.filter-option__control * {
	color: black;
}

.filter-option__indicator {
	padding: 6px !important;
}
.filter-option__indicator-separator {
	color: black;
}

.filter-option__menu {
	margin: 0 !important;
	padding: 0 !important;
	border-radius: 0 !important;
}

.filter-option__menu-list {
	margin: 0 !important;
	padding: 0 !important;
	border-radius: 0 !important;
	color: black !important;
	font-weight: 400;
	font-size: 0.9rem;
}

.filter-option__multi-value__label {
	font-weight: 400;
}

.car-header {
	padding: 0.2rem;
}
.car-header span {
	color: black;
	font-weight: 400;
}
.car-header p {
	color: rgb(88, 88, 88);
	font-weight: bold;
}

@media only screen and (min-width: 768px) {
	.car-header span {
		font-size: 0.7rem;
	}
	.car-header p {
		font-size: 0.9rem;
	}
	.input-brand {
		width: 40%;
	}

	.input-fuel {
		width: 30%;
	}

	.input-size {
		width: 30%;
	}
}

@media only screen and (max-width: 767px) {
	.car-title{
		font-size: 1.6rem;
	}
	.car-header span {
		font-size: 0.9rem;
	}
	.car-header p {
		font-size: 1.1rem;
	}
	.input-brand {
		width: 100%;
	}

	.input-fuel {
		width: 100%;
	}

	.input-size {
		width: 100%;
	}
}

/* Animations
==================================================*/

@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 991px) {
	.detail-img {
		border-top-left-radius: 0.625rem;
		border-top-right-radius: 0.625rem;
	}

	.tco-variables{
		border-bottom-right-radius: 0rem;
	}
}

@media (max-width: 767px) {
	.title {
		font-size: 2rem;
	}

	.subtitle {
		font-size: 1rem;
	}
}
